input[type="checkbox"] {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  vertical-align: -5px;
}

input[type="checkbox"]:checked:before {
  position: absolute;
  top: 1px;
  left: 4px;
  transform: rotate(50deg);
  width: 4px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
}

.history-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.history-header {
  background: var(--color-linen);
  position: fixed;
  font-size: var(--font-header);
  width: 100%;
  height: 80px;
  z-index: 1010;
  display: flex;
  border-bottom: 0.5px solid var(--color-hickory);
}
.history-header-button {
  position: fixed;
  width: 100%;
  height: 30px;
  top: 50px;
  left: 0px;
}
.history-header-checkbox {
  display: none;
}
.history-header-sort {
  color: var(--color-hickory);
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 10px 0 10px;
}
.history-header-filter {
  color: var(--color-hickory);
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.history-container {
  position: relative;
  top: 96px;
  height: auto;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left; /* 修正：中央に揃える */
}

.history-image {
  width: calc(33.33% - 2.66px);
  margin-bottom: 4px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.history-image:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: 4px;
}

/* 修正：余白を均等に配置するために margin を追加 */
.history-image:nth-child(3n + 2) {
  margin-left: 0px;
  margin-right: 0px;
}

/* 修正：余白を均等に配置するために margin を追加 */
.history-image:nth-child(3n + 3) {
  margin-left: 4px;
  margin-right: 0;
}

.history-popup {
  max-height: 750px;
  max-width: 400px;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-linen);
  overflow: auto; /* Add overflow for scroll if content is too long */
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;

  z-index: 5000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.history-popup-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.history-popup-button {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0px;
  right: 10px;
  display: flex;
}
.history-popup-close {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: xx-large;
}

.history-popup-text {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  font-size: var(--font-size-xxl);
  margin: 21px 0px 21px 0px;
  font-family: var(--font-kaisei-opti);
}

.history-popup-content {
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.history-popup-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 12px 0 12px;
  width: calc(100% - 24px);
  aspect-ratio: 1/1;
  display: flex;

  flex-direction: column;
}
.history-popup-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;
  outline: 3px solid var(--color-fawn);
  overflow: hidden;
}

.history-popup-img-item {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.history-popup-content-text {
  width: calc(100% - 50px);
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, 0); */
  font-family: var(--font-kaisei-opti);
  font-size: var(--font-size-base);
  color: var(--color-hickory);
  text-align: left;

  flex: 1;
}


.recommend-loading-animation {
    position: relative;
    height: 100vh;
    text-align: center; /* 中央揃えにする場合 */
}

.loading-spinner {
    position: absolute;
    bottom: 20%;
    left: 50%; /* 左から50%の位置に設定 */
    width: 100%;
    transform: translate(-50%, -50%);
    color: var(--color-twine); /* テキストの色 - 白色に設定 */
    font-size: 50px; /* テキストのサイズを設定 */
    font-family: var(--font-libre-bodoni);
    font-weight: lighter;
    text-shadow: none;
  }

.loading-gif {
    max-height: calc(100vh); /* 画面の高さに合わせて最大値を設定 */
    width: 100%; /* 要素の幅に合わせて100% */
    object-fit: cover; /* 余白がなくなるように調整 */
    /* オプショナルで中央に配置するなら、以下も追加 */
    object-position: center;
    margin: 80px 0px 0px 0px;
}

@keyframes dots {
    0%, 20% {
      content: "";
    }
    40% {
      content: ".";
    }
    60% {
      content: "..";
    }
    80%, 100% {
      content: "...";
    }
}
  
.loading-dots:after {
    content: "";
    animation: dots 2s infinite;
}
  
