html {
  background-color: var(--color-linen);
}
.recommend-page {
  position: relative; /* 相対的 */
  width: 100%;
  height: 100%;
  overflow: visible;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
  display: flex;
  flex-direction: column;
}
.recommend-up {
  position: fixed;
  max-width: 500px;
  width: 100%;
}
.recommend-x {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0px;
  left: 0px;
}

.recommend-up-image {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 500px;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  filter: contrast(60%) brightness(70%);
}

.recommend-code {
  position: absolute;
  top: 300px;
  width: 100%;
  height: auto;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-linen);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
}

.recommend-headline {
  height: 52px;
  font-family: var(--font-kaisei-opti);
  font-size: var(--font-size-xxl);
  color: var(--color-fawn);
  margin: 10px 0 10px 0;
  font-weight: 500;
}

.recommend-icon-container {
  width: auto;
  height: 80%;
  aspect-ratio: 1;
  outline: 2px solid green;
}

.recommend-code-img {
  width: 80%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 10px;
  outline: 3.5px solid var(--color-fawn);
}

.recommend-code-bar {
  width: 80%;
  height: 52px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0px 0 5px 0;
}

.recommend-code-icon {
  width: auto;
  height: 80%;
  aspect-ratio: 1;
  outline: 2px solid red;
}
.recommend-download-icon {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  outline: 2px solid blue;
}

.recommend-heart-btn {
  display: none; /* チェックボックスを非表示にする */
}

.recommend-heart-icon {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  outline: 2px solid blue;
}

.recommend-code-recreate {
  width: auto;
  height: 52px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.recommend-code-spacer {
  flex: 1;
  width: auto;
  height: auto;
}

.recommend-code-recreate-text {
  width: auto;
  height: auto;
  font-family: var(--font-kaisei-opti);
  font-size: var(--font-size-base);
  color: var(--color-hickory);
}

.recommend-code-text {
  width: 80%;
  height: 100%;
  font-family: var(--font-kaisei-opti);
  font-size: var(--font-size-base);
  color: var(--color-hickory);
  text-align: left;
}

/* .recommend-code-button {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: var(--color-darkgray);
    align-items: center;
    justify-content: center;
    width: 281px;
    height: 58px;
    cursor: pointer;
    border: none;
    font-size: var(--font-size-xl);
  } */

.recommend-code-button {
  border-radius: 50px;
  background-color: var(--color-fawn);
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80px;
  cursor: pointer;
  border: none;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  margin: 20px 0 20px 0;
}

.loading-icon {
  max-height: 100vh; /* 画面の高さに合わせて最大値を設定 */
  width: 100%; /* 要素の幅に合わせて100% */
  object-fit: cover; /* 余白がなくなるように調整 */
  /* オプショナルで中央に配置するなら、以下も追加 */
  object-position: center;
}

/* loading-animationクラスを持つdivをrelativeに設定 */
.loading-animation {
  position: relative;
  text-align: center; /* 中央揃えにする場合 */
}

/* ローディングテキストを持つdivにabsoluteを適用し、画像の中央に配置 */
.load-text {
  position: absolute;
  top: 660px;
  left: 50%; /* 左から50%の位置に設定 */
  width: 100%;
  transform: translate(-50%, -50%); /* 中央に完全に配置するために、翻訳を使用 */
  color: var(--color-twine); /* テキストの色 - 白色に設定 */
  font-size: 50px; /* テキストのサイズを設定 */
  font-family: var(--font-libre-bodoni);
  font-weight: lighter;
  z-index: 10; /* 必要に応じてz-indexを設定して、テキストを前面に保持 */
  text-shadow: none;
  animation: blink 1.75s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; /* 完全に表示 */
  }
  50% {
    opacity: 0; /* 完全に不透明 */
  }
}
