/* 

topページ

*/
.top-top {
  position: relative; /* 相対的 */
  background-color: var(--color-linen);
  width: 100%;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 105px 0px;
}

.header {
  background: linear-gradient(to bottom, var(--color-linen), transparent);
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1010;
  display: flex;
}

/* ハンバーガーメニュー */
.top-menu {
  position: absolute;
  top: 15px;
  right: 100%;
  width: 50px;
  height: 50px;
  color: var(--color-hickory);
  background: none;
  border-radius: 5px;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Futura", Helvetica, sans-serif;
}

/* Nav items */
.menu {
  list-style: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 0px;
  padding: 0 0 10px 0;
  clear: both;
  background: var(--color-fawn);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
  z-index: 1100;
}

/* Hamburger menu button */
.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

/* Hamburger menu text */
.menu button {
  background-color: transparent;
  border: none;
  font-family: var(--font-libre-bodoni);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: capitalize;
  color: #ddd;
  opacity: 0;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid var(--color-white);
  padding: 15px 0;
  margin: 0 54px;
  opacity: 0;
  transition: 0.5s;
  text-align: left;
}

.menu-btn:checked ~ .menu button,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-spacer {
  background: var(--color-fawn);
  height: 52px;
}

.menu-btn {
  display: none;
  z-index: 1200;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1200;
}

.navicon {
  background: var(--color-hickory);
  display: block;
  height: 3px;
  width: 26px;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--color-hickory);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 9px;
}

.navicon:after {
  bottom: 9px;
}

/* Hamburger Menu Animation Start */
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  background: var(--color-linen);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  background: var(--color-linen);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}
/* Hamburger Menu Animation End */

/* Navbar Container */
.navtext-container {
  flex: 1;
  width: auto;
  height: 52px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-libre-bodoni);
}

/* Navbar Text */
.navtext {
  background-color: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  color: var(--color-hickory);
  font-size: var(--font-size-header);
  font-family: var(--font-libre-bodoni);
  font-weight: normal;
  font-style: normal;
}

.top-hum-icon {
  width: 52px;
  height: 52px;
  right: -100px;
  top: 0px;
  flex: 0;
}
.top-login-icon {
  width: calc(52px - 18px);
  height: calc(52px - 18px);
  flex: 0;
  padding: 9px;
}

.top-image {
  object-fit: cover;
  display: block;
  background-repeat: no-repeat;
  filter: contrast(70%) brightness(80%);
  z-index: 900;
}

.top-image-container {
  width: 100%;
}

.top-item-container {
  margin: 0px 0px 10px 0px;
  align-items: flex-start; /* 縦方向 */
  justify-content: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0;
  text-align: lefx;
}
.fade-text {
  margin: 20px 30px 20px 30px;
  align-items: center; /* 縦方向 */
  justify-content: center;
  height: auto;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  flex: 0;
  /*　ここから */
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 2.4s ease-out;
}

.top-item-headline {
  font-size: var(--font-size-xxl);
  font-family: var(--font-kaisei-opti);
  color: var(--color-fawn);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: left; /* 左寄せに変更 */
  width: 100%;
  top: 0px;
  left: 0px;
  height: auto;
  flex: 0;
  margin: 30px 0px 30px 0px;
}

.top-item-text-title {
  font-size: var(--font-size-xl);
  color: var(--color-fawn);
  font-family: var(--font-kaisei-opti);
  flex: 0;
  align-items: center;
  justify-content: center;
  text-align: left; /* 左寄せに変更 */
  top: 0px;
  left: 0px;
  /* width: 100%; */
  height: auto;
  border-bottom: 2px dashed var(--color-fawn);
}

.top-item-text {
  font-size: var(--font-size-base);
  color: var(--color-hickory);
  font-family: var(--font-kaisei-opti);
  flex: 0;
  align-items: center;
  justify-content: center;
  text-align: left; /* 左寄せに変更 */
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}
.top-item-text .colored {
  color: var(--color-fawn);
}
.luckbag {
  font-family: var(--font-libre-bodoni);
}

.top-product {
  margin: 20px 0px 20px 0px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  text-align: left;
  align-items: center;
  width: 80%;
  height: auto;
}

.top-use-container {
  margin: 20px 0px 20px 0px;
  font-weight: 500;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  display: flex;
  flex-direction: column;
}

.top-icon {
  position: absolute;
  top: 442px;
  left: 18px;
  width: 120px;
  height: 120px;
}

/* 

アニメーション

 */
/* toppage.css */
#toppage {
  position: relative;
}

.loading-icon-container {
  position: fixed;
  display: flex;
  justify-content: first baseline;
  align-items: first baseline;
  overflow: hidden;
  transition: opacity 1s ease-in-out; /* フェードアウトに関するアニメーション */
}

.loading-image {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  filter: contrast(60%) brightness(70%);
  object-fit: cover;
  height: 100%;
}

.loading-icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  width: 100%;
}
.loading-text {
  font-size: var(--font-size-xxl);
  color: var(--color-white);
  font-family: var(--font-kaisei-opti);
  flex: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 0px 10px 0px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.loading-text span {
  font-family: var(--font-libre-bodoni);
  flex: 0;
  font-size: var(--font-size-loadingicon);
  font-weight: 400;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#content {
  order: 1;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in #content {
  opacity: 1;
  height: auto;
}

/* ポップアップ？？ */
.tooltip-container {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip-container.visible {
  opacity: 1;
  visibility: visible;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-hickory);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-linen);
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  line-height: 30px;
  font-weight: 900;
}

.tooltip-content {
  background-color: var(--color-linen);
  padding: 20px;
  margin: 10px 10px 0px 0px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* アップロードボタン */

.top-upload-button {
  position: fixed;
  display: flex;
  bottom: 15px;
  right: 15px;
  z-index: 2000;
  width: 90px;
  height: 90px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fawn);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.top-upload-button-icon {
  width: 60%;
  object-fit: cover;
}
